.newblock5 {
	text-align:center;
}

.newblock5 img {
	width:100%;
}


.newblock15 {
	
}

.newblock15 a {
	background-color: #e5052e;
    border-color: #e5052e;
    color: #ffffff;
	display:block;
}
