.calculator-container {
    width: 100%;
    padding: 50px 70px;
    background-color: #F9F9FA;
    margin-bottom: 40px;
}

.calc-input-block {
    display: flex;
    column-gap: 20px;
    align-items: end;
    flex-wrap: wrap;
}

.calc-input select,
.calc-input.form-control button {
    height: 48px;
}

.calc-input.form-control button {
    width: 100%;
}

.calc-input.form-control {
    max-width: 240px;
}

.calc-result-head {
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.calc-description {
    margin: 40px 0;
}

.calc-result-block {
    display: flex;
    column-gap: 40px;
}

p.result-title {
    margin-bottom: 15px;
    margin-top: 40px;
}

p.result-summ {
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 600;
    font-size: 28px;
}

p.calc-feedback-text {
    margin: 0;
}

.calc-feedback {
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
    align-items: end;
}

.calc-feedback-btn {
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid #e5052e;
    color: #e5052e;
}

.calc-feedback-btn:hover {
    background: #e5052e;
    color: #fff;
}

@media (max-width: 1350px) {
    .calc-feedback {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 680px) {
    .calc-input-block {
        flex-direction: column;
        align-items: center;
    }
    
    .calc-input.form-control {
        width: 100%;
        max-width: 100%;
    }
    
    .calc-input.form-control .common_select .common_select-link {
        max-width: 100%;
    }
    
    .calc-input.form-control.button {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .calc-result-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .calc-result-head {
        text-align: center;
        margin-top: 30px;
    }
}