/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/


.detail-custom-map .contacts_map_list {
    padding: 0px 0px 0 0px;
    overflow: hidden;
}

.company-block iframe {
    display: none;
}

.video-block .image iframe{display: none !important;}

@media screen and (max-width: 600px) {
    table.colored_table {
        max-width: 100%;
        display: block;
        overflow: auto;
    }
}